* {
    font-family: montserrat;
}

body {
    background-color: #eee;
}

.jumbotron-header {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    margin-top: 20px;
    border-radius: 2px !important;

    color: white;
    text-align: center;
}

.img-circle {
    border: 4px solid #fff;
}

.vertical-center {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    text-align: left;
} 

.tab-content {
    background-color: #fff;
    border: 1px #ddd solid;
    border-top: 0px;
    margin: 45px;
    margin-top: 15px;
}

.tab-content-full {
    background-color: #fff;
    border: 1px #ddd solid;
    margin: 30px;
    margin-top: 15px;
}

.nav-tabs > li > a:hover {
    background-color: #ddd;
}

.nav-pills > li > a:hover {
    background-color: #ddd;
    border-radius: 1px;
}

.nav-pills > .active > a {
    background-color: #337ab7;
    border-radius: 1px;
    opacity: .75;
}

.nav-pills > .disabled > a {
    background-color: #fff !important;
    color: #337ab7 !important;
    opacity: .75 !important;
}

.col-justified {
    text-align: justify;
    text-justify: inter-word;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
    font-family: Consolas;
}