* {
    font-family: montserrat;
}

body {
    background-color: #eee;
}

.jumbotron-header {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    margin-top: 20px;
    border-radius: 3px !important;

    color: white;
    text-align: center;
}

.img-circle {
    border: 4px solid #fff;
}

.vertical-center {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    text-align: left;
} 

.tab-content {
    background-color: #fff;
    border: 1px #ddd solid;
    border-top: 0px;
    padding: 25px;
}

.nav-tabs > li > a:hover {
    background-color: #ddd;
}

.list-group panel.active {
  background-color: #fff;
  border-color: #aed248;
}