body {
  background-color: #eee;
}

.jumbotron-header {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: montserrat;
}

.jumbotron-body {
    background: white;
    text-align: left;
}

.img-circle {
	border: 4px solid #fff;
}

.vertical-center {
	display: table-cell;
	height: 200px;
	vertical-align: middle;
	text-align: left;
}

.nav-tabs > li > a:hover {
  background-color: #ddd;
}