<header>
  <title>Akshath Sivaprasad</title>
  <div class="links">
    <div class="text-links">
      {%- if page.title == "Writing" -%}
      <a href="/">About</a>
      <div class="active-link">Writing</div>
      {%- else -%}
      <div class="active-link">About</div>
      <a href="/writing">Writing</a>
      {%- endif -%}
    </div>
    <div class="img-links">
      <a class="twitter" href="https://twitter.com/heyitaki" target="_blank">
        <img src="../assets/images/twitter.png" alt="icon" />
      </a>
      <a class="github" href="https://github.com/heyitaki" target="_blank">
        <img src="../assets/images/github.png" alt="icon" />
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/akshathsivaprasad/" target="_blank">
        <img src="../assets/images/linkedin.png" alt="icon" />
      </a>
    </div>
  </div>
</header>