@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt,wght.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

a,
a:hover {
	text-decoration: none;
  color: black;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 500px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
	padding: 50px 20px;
}

.title {
	font-size: 24px;
  font-weight: normal;
  width: fit-content;
  color: #000;
  letter-spacing: -.1px;
}

.links {
	margin-top: 7.5px;
  margin-bottom: 15px;
  font-size: 16px;
	display: flex;
	flex-direction: row;
  color: #999;
  align-items: center;
  justify-content: space-between;
}

.links .text-links {
	display: flex;
	flex-direction: row;
  align-items: center;
}

.links .text-links a {
	margin-right: 20px;
  color: #999;
}

.links .text-links a:hover {
	color: #555;
}

.links .text-links .active-link {
  margin-right: 20px;
	cursor: default;
  color: #555;
}

.links .img-links a {
  margin-left: 7.5px;
  margin-right: 7.5px;
  cursor: pointer;
}

.links .img-links a img {
  height: 20px;
  width: 20px;
  opacity: 50%;
  filter: grayscale(1);
  transition: opacity .1s, filter .1s;
}

.links .img-links a:last-child {
  margin-right: 0;
}

.links .img-links a.twitter img {
  width: 23px;
}

.links .img-links a.github img,
.links .img-links a.roam img {
  opacity: 32%;
}

.links .img-links a img:hover {
  opacity: 100%;
  filter: grayscale(0);
}

.underlined {
  position: relative;
  padding: 0 2.5px;
}

.underlined::after {
  border-radius: 1px;
  content: '';
  height: 7.5px;
  position: absolute;
  top: 60%;
  left: 0;
  transition: top .3s, height .3s;
  width: 100%;
  z-index: -1;
}

.underlined:hover:after {
  height: 20.5px;
  top: -2%;
}

.underlined.jump::after {
	background-color: #71F0D9;
}

.underlined.jump:hover:after {
	background-color: #AAF6E8;
}

.underlined.pantheon::after {
	background-color: #99a2e9;
}

.underlined.pantheon:hover:after {
	background-color: #b2b9ee;
}

.underlined.twitter::after {
	background-color: #8ed0f8;
}

.underlined.twitter:hover:after {
	background-color: #a4d9f9;
}

.text {
	font-size: 17px;
	line-height: 24px;
	color: #000;
  /* font-variation-settings: 'wght' 400; */
  font-weight: 300;
  letter-spacing: .1px;
  font-family: serif;
}

.text p {
	margin-top: 10px;
  /* text-align: justify; */
}
