* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

a,
a:hover {
	text-decoration: none;
  color: black;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
	padding: 50px 20px;
}

.underlined {
  position: relative;
  padding: 0 3px;
}

.underlined::after {
  content: '';
  height: 10px;
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.underlined.name {
  padding: 0 6px;
}

.underlined.name::after {
  height: 12.5px;
  background-color: #d09ae1;
}

.underlined.pantheon::after {
	background-color: #99a2e9;
}

.underlined.pantheon:hover::after {
	background-color: #b2b9ee;
}

.underlined.twitter::after {
	background-color: #8ed0f8;
}

.underlined.twitter:hover::after {
	background-color: #a4d9f9;
}

.title {
	font-size: 24px;
  font-weight: normal;
  margin-bottom: 25px;
  width: fit-content;
  color: #000;
}

.text {
	font-size: 18px;
	line-height: 28px;
	color: #000;
}

.text p {
	margin-top: 10px;
}

.links {
	margin-top: 20px;
  font-size: 16px;
	display: flex;
	flex-direction: row;
}

.links a {
	margin-right: 20px;
	color: #999}

.links a:hover {
	color: #555;
}
