* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebebeb;
}

a {
	text-decoration: none;
	color: black;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 550px;
	font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 50px 20px;
}

.title {
	color: #333;
	font-size: 30px;
}

.subtitle {
	font-size: 20px;
	letter-spacing: .25px;
	line-height: 30px;
	color: #666;
}

.subtitle p {
	margin-top: 10px;
}

.subtitle p:first-child {
	margin-top: 20px;
}

.links {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.links a {
	margin: 0 10px;
	color: #545454
}

.links a:first-child {
	margin-left: 0px;
}

.links a:hover {
	color: #777;
}

/* Custom link styles */
a.simplata {
	color: #2E9CCA;
}

a.simplata:hover {
	color: #40AEDC;
}

a.twitter {
	color: #1DA1F2;
}

a.twitter:hover {
	color: #2FB3FF;
}