/**
 * Page content
 */
.page-content {
  margin: 0 auto;
	max-width: 515px;
	padding: 50px 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  h3 {
    margin-bottom: 5px;
  }

  p {
    @extend .serif-text;
  }
}

.post-meta {
  @extend .sans-serif-text;
  color: $grey-color;
}

.post-list .post-meta {
  font-size: $small-font-size;
}

.post-link {
  display: block;
  @extend .sans-serif-text;
  @include relative-font-size(1.25);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.6);
  line-height: 1;
  margin-bottom: 6.5px;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-header .post-meta {
  @include relative-font-size(1);
  letter-spacing: -.25px;
}

.post-content {
  margin-bottom: $spacing-unit;
  @extend .serif-text;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
