// Page wrapper

.page-content {
  margin: 0 auto;
	max-width: 515px;
	padding: 50px 20px;
}

// Home

.home-content {
  font-size: 17px;
  line-height: 24px;
  color: #000;
  letter-spacing: .1px;
  font-family: serif;
}

// Posts list

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 25px;
  }

  h3 {
    margin-bottom: 3px;
  }

  p {
    @extend .serif-text;
  }
}

.post-meta {
  @extend .sans-serif-text;
  color: $grey-color;
}

.post-list .post-meta {
  font-size: $small-font-size;
}

.post-link {
  @extend .sans-serif-text;
  @include relative-font-size(1.25);
  display: block;
}

// Posts

.post-header {
  margin-bottom: $spacing-unit;
}

.post-header .post-meta {
  @extend .sans-serif-text;
  @include relative-font-size(1);
}

.post-content {
  @extend .serif-text;
  margin-bottom: $spacing-unit;
}
