.hljs-comment,
.hljs-quote {
  color: #8e908c;
  font-family: Consolas;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
  font-family: Consolas;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
  font-family: Consolas;
}

.hljs-attribute {
  color: #eab700;
  font-family: Consolas;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
  font-family: Consolas;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
  font-family: Consolas;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
  font-family: Consolas;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: transparent;
  color: #4d4d4c;
  padding: 0.5em;
  font-family: Consolas;
}

.hljs-emphasis {
  font-style: italic;
  font-family: Consolas;
}

.hljs-strong {
  font-weight: bold;
  font-family: Consolas;
}
